

.input {
  display: block;
  background: #FFFFFF;
  border: 1px solid #B1B1B1;
  border-radius: 8px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9A9A9A;
  //min-width: 400px;
  flex: 1;
  //width: 100%;
  padding: 16px 18px;
}