
body {
  background: #F5F5F5;
}

.container {
  max-width: 900px;
}

.form {
  border: 1px solid #B1B1B1;
  position: relative;
  border-radius: 8px;
  padding: 50px 20px;
  margin: 10px 50px;
  display: flex;
  gap: 0 20px;

  &_countries {
    //display: flex;
    //flex-direction: column;

    input:not(:last-child), div:not(:last-child) {
      margin-bottom: 10px;;
    }
  }
}

.list {

}